// @keyframes rotateCD {
//   0% {
//     transfrom: rotate(0deg);
//   }
//   100% {
//     transform: rotate(360deg);
//   }
// }

$cd-player-bg: #f5f5ec;

.cd-player {
  position: relative;
  width: 500px;
  height: 500px;
  background-color: #f5f5ec;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.15);

  .cd-player__track {
    width: 80%;
    height: 80%;
    border-radius: 50%;
    background-color: #edede4;
  }

  .cd {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    border-width: 10px;
    border-color: white;
    border-style: solid;

    background-image: url('https://image.board.sbs.co.kr/2022/01/26/nUA1643193086342-cr.jpg');
    background-position: 50% 50%;
    background-size: cover;
    // &.playing {
    //   animation: rotateCD 4s;
    //   animation-iteration-count: infinite;
    //   animation-timing-function: linear;
    // }

    // &.end {
    //   animation-iteration-count: inherit;
    //   animation-timing-function: ease-out;
    // }

    .cd__center {
      position: absolute;
      width: 50px;
      height: 50px;
      z-index: 99;
      background-color: #{$cd-player-bg};
      border-radius: 50%;
      border: 10px solid white;
    }
  }
}
