#app {
  perspective: 600px;
}

.cube {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  position: relative;
  margin: 100px auto;
  transform-style: preserve-3d;
  transition: all 1s;
  transform-origin: 150px 150px -150px;
  // transform: rotateX(90deg) translateY(-300px);
}

.cube-side {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

@keyframes rotateTop {
  0% {
    transform: rotate3d(0);
  }
  25% {
    transform: rotate3d(90deg);
  }
  50% {
    transform: rotate3d(180deg);
  }
  75% {
    transform: rotate3d(270deg);
  }
  100% {
    transform: rotate3d(360deg);
  }
}
.top {
  transform-origin: bottom;
  background-color: red;
  transform: translateY(-100%) rotateX(90deg);
  z-index: 12;
  transition: all 1s;
}
.bottom {
  position: absolute;
  background-color: orange;
  transform-origin: top;
  transform: translateY(100%) rotateX(-90deg);
  z-index: -1;
}
.front {
  position: relative;
  background-color: blue;
  z-index: 6;
  // opacity: 0.3;
}
.right {
  transform-origin: left;
  transform: translateX(100%) rotateY(90deg);
  background-color: green;
  z-index: -1;
}
.back {
  background-color: yellow;
  transform-origin: center;
  transform: translateZ(-300px);
  z-index: -1;
}
.left {
  background-color: navy;
  transform-origin: right;
  transform: translateX(-100%) rotateY(-90deg);
  z-index: -1;
}
