.top {
  background-color: red;
}
.bottom {
  background-color: orange;
}
.side1 {
  background-color: yellow;
}
.side2 {
  background-color: green;
}
.side3 {
  background-color: blue;
}
.side4 {
  background-color: navy;
}
