$calendar-line: 1px solid #333333;
.calendar__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.5rem;

  .calender__selects {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 0.75rem;
  }

  .header__days {
    display: flex;
    width: 100%;
    .days__day {
      padding-left: 0.5rem;
      width: calc(100% / 7);
      font-weight: 500;

      &:first-of-type {
        color: red;
      }

      &:last-of-type {
        color: mediumblue;
      }
    }
  }

  .header__year,
  .header__month,
  .header__date {
    cursor: pointer;
    height: 40px;

    font-size: 1rem;
    font-weight: bold;

    border: 1px solid transparent;
    border-radius: 5px;
    outline: none;

    transition: all 0.3s;

    &:not(:last-of-type) {
      margin-right: 0.25rem;
    }

    &:hover {
      border: 1px solid lightgray;
    }
  }
}
.calendar {
  width: 630px;

  .calendar__inner {
    display: flex;
    flex-wrap: wrap;

    border-top: $calendar-line;
    border-left: $calendar-line;

    .calendar__date {
      padding: 0.5rem;
      box-sizing: border-box;

      width: calc(100% / 7);
      height: 100px;

      border-right: $calendar-line;
      border-bottom: $calendar-line;

      &:nth-child(7n + 1) {
        color: red;
      }

      &:nth-child(7n) {
        color: mediumblue;
      }

      .date__name {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        width: 1.5rem;
        height: 1.5rem;

        &.date__name--active {
          border-radius: 50%;
          background: #ffd000;
          color: #fff;
        }
      }
    }
  }
}
