$calendar-line: 1px solid #333333;
.calendar__header {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;

  .header__year,
  .header__month,
  .header__date {
    height: 40px;

    font-size: 1rem;

    border: 1px solid transparent;
    border-radius: 5px;
    outline: none;

    transition: all 0.3s;

    &:hover {
      border: 1px solid lightgray;
    }
  }

  .header__year {
    margin-right: 0.25rem;
  }
}
.calendar {
  width: 630px;

  .calendar__inner {
    display: flex;
    flex-wrap: wrap;

    border-top: $calendar-line;
    border-left: $calendar-line;

    .calendar__date {
      padding: 0.5rem;
      box-sizing: border-box;

      width: calc(100% / 7);
      height: 100px;

      border-right: $calendar-line;
      border-bottom: $calendar-line;

      .date__name {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        width: 1.5rem;
        height: 1.5rem;

        &.date__name--active {
          border-radius: 50%;
          background: #753bad;
          color: #fff;
        }
      }
    }
  }
}
